<html lang="en">
	<head>
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap/bootstrap.min.css') }}">
			<link href="{{ url_for('static', path='/css/blog/mediumish.css') }}" rel="stylesheet" >

			<link rel="stylesheet" href="{{ url_for('static', path='/css/datepicker/classic.css') }}">
    	<link rel="stylesheet" href="{{ url_for('static', path='/css/datepicker/classic.date.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', path='/css/datepicker/style.css') }}">
			<title>Blogs</title>
	</head>
	<body style="background: #f8f8f8;">
		<nav class="navbar navbar-expand-lg bg-light bg-white fixed-top">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">

					<div class="row" style="width: 100%;">
						<div class="col" style="max-width: fit-content;">
							<p>Titulo:</p>
						</div>
						
						<div class="col-2">
							<input type="text" id="titleSearch"  class="form-control" placeholder="Titulo...">
						</div>

						<div class="col" style="max-width: fit-content;">
							<p>Fecha de inicio:</p>
						</div>

						<div class="col-2">
							<form action="#">
								<div class="form-group">
									<input type="text" class="form-control" id="pick-date-start" placeholder="Selecciona una fecha">
								</div>
							</form>
						</div>

						<div class="col" style="max-width: fit-content;">
							<p>Fecha de fin:</p>
						</div>

						<div class="col-2">
							<form action="#">
								<div class="form-group">
									<input type="text" class="form-control" id="pick-date-end" placeholder="Selecciona una fecha">
								</div>
							</form>
						</div>

						<div class="col" >
							<button id="searchButton" type="button" class="btn btn-primary small"> buscar </button>
						</div>
					</div>

					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="/profile/">Perfil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="cursor: pointer;" id="logoutbutton">Cerrar sesión</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<section class="recent-posts">
				<div class="section-title">
					<h2><span>All Stories</span></h2>
				</div>
				<div style="column-count: 3; column-gap: 1.25rem;" class="card-columns listrecent">
			
					<div class="card" style="display: inline-block; width: 100%;">
						<a href="/comment-test/">
							<img class="img-fluid" src="{{ url_for('static', path='/images/5.webp') }}" alt="">
						</a>
						<div class="card-block" style=" flex: 1 1 auto; padding: 1.25rem;">
							<h2 class="card-title">
								<a style="text-decoration: none;" href="/comment-test/">Autumn doesn't have to be nostalgic, you know?</a>
							</h2>
							<!-- <h4 class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h4> -->
							<div class="metafooter">
								<div class="wrapfooter">
									<span class="author-meta">
										<span class="post-name">
											<a href="author.html">Sal</a>
										</span>
										<br/>
										<span class="post-date">22 July 2017</span>
									</span>
									<span class="post-read-more">
										<a href="post.html" title="Read Story">
											<svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25">
												<path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path>
											</svg>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>


		<script src="{{ url_for('static', path='/js/logout.js') }}"></script>

		<script src="{{ url_for('static', path='/js/datepicker/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/datepicker/popper.min.js') }}"></script>
		<script src="{{ url_for('static', path='/js/bootstrap/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', path='/js/datepicker/picker.js') }}"></script>
    <script src="{{ url_for('static', path='/js/datepicker/picker.date.js') }}"></script>
    <script src="{{ url_for('static', path='/js/datepicker/main.js') }}"></script>
		
		
		<script>
			window.onload = function () {
				const btnLogout = document.getElementById("logoutbutton");
				btnLogout.addEventListener('click', function (event) {
					logout()
				}, false)

				const searchButton = document.getElementById("searchButton");
				searchButton.addEventListener('click', function (event) {
					let inputDateStart = document.getElementById("pick-date-start")
					let dateStart = new Date(inputDateStart.value)
					let dateStartUTC = dateStart.toISOString()
					console.log(dateStartUTC)

					let inputDateEnd = document.getElementById("pick-date-end")
					let dateEnd = new Date(inputDateEnd.value)
					let dateEndUTC = dateEnd.toISOString()
					console.log(dateEndUTC)

					let titleElement = document.getElementById("titleSearch")
					let titleValue = titleElement.value
					console.log(titleValue)



				}, false)
			}
		</script>
	</body>
	
</html>