<html lang="en">
	<head>
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap/bootstrap.min.css') }}">
			<link href="{{ url_for('static', path='/css/blog/mediumish.css') }}" rel="stylesheet" >

			<link rel="stylesheet" href="{{ url_for('static', path='/css/datepicker/classic.css') }}">
    	<link rel="stylesheet" href="{{ url_for('static', path='/css/datepicker/classic.date.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', path='/css/datepicker/style.css') }}">
			<title>Resultados</title>
	</head>
	<body style="background: #f8f8f8;">
		<nav class="navbar navbar-expand-lg bg-light bg-white fixed-top">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">

					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="/blogs/">Blogs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/user/blogs/">Mis blogs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/profile/">Perfil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="cursor: pointer;" id="logoutbutton">Cerrar sesión</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<section class="recent-posts">
				<div class="section-title">
					<h2><span>Resultados de la busqueda - {{ data.total }} blogs</span></h2>
				</div>
				<div style="column-count: 3; column-gap: 1.25rem;" class="card-columns listrecent">
					
					{% for blog in data.blogs %}
					<div class="card" style="display: inline-block; width: 100%;">
						<a href="/blogs/detail/{{blog.id|safe}}/">
							<img class="img-fluid" src="{{ url_for('static', path='/images/5.webp') }}" alt="">
						</a>
						<div class="card-block" style=" flex: 1 1 auto; padding: 1.25rem;">
							<h2 class="card-title">
								<a style="text-decoration: none;" href="/blogs/detail/{{blog.id|safe}}/">{{ blog.title }}</a>
							</h2>

							<div class="metafooter">
								<div class="wrapfooter">
									<span class="author-meta">
										<span class="post-name">
											<a>{{"autor: " + blog.user.name + " " + blog.user.last_name}}</a>
										</span>
										<br/>
										<span id="date{{blog.id|safe}}" class="post-date"></span>
									</span>
									<span class="post-read-more">
										<a  style="cursor: pointer;">
											<svg id="shareBlogButton{{blog.id|safe}}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
												<path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
											</svg>
										</a>
									</span>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

				<div class="row">
					{% if data.previous.start >= 0 %}
					<div class="col d-flex justify-content-start">
						<button id="previousPageButton" class="btn btn-primary"> anterior </button>
					</div>
					{% endif %}

					{% if data.next.start < data.total %}
					<div class="col d-flex justify-content-end">
						<button id="nextPageButton" class="btn btn-primary"> siguiente </button>
					</div>
					{% endif %}
				</div>
				
			</section>
		</div>


		<script src="{{ url_for('static', path='/js/logout.js') }}"></script>

		<script src="{{ url_for('static', path='/js/datepicker/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/datepicker/popper.min.js') }}"></script>
		<script src="{{ url_for('static', path='/js/bootstrap/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', path='/js/datepicker/picker.js') }}"></script>
    <script src="{{ url_for('static', path='/js/datepicker/picker.date.js') }}"></script>
    <script src="{{ url_for('static', path='/js/datepicker/main.js') }}"></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="sweetalert2.all.min.js"></script>
		
		
		<script>
			function shareBlog(event) {
				event.preventDefault()
				event.stopPropagation()
				let targetBlog = event.target
				let userBlogId = targetBlog.id.replace("shareBlogButton", "").replaceAll('"', '')
				const blogs = JSON.parse('{{data.blogs}}'.replaceAll("&#39;", '"'))
				const blog = blogs.filter(el => el.id === userBlogId)[0]
				const blogId = blog.id
				

				fetch("http://localhost:8000/blogs/share/", {
					method: "post",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify({
						id: blogId,
					}),
				}).then(async (response) => {
					if (response.status == 201) {
						Swal.fire({
							title: 'Blog Compartido!',
							text: 'El blog ha sido compartido exitosamente.',
							icon: 'success',
							confirmButtonText: 'Ok, entendido.'
						}).then(() => {
							window.location.reload();
						})
					} else if (response.status == 400) {
						const body = await response.json()
						if (body.detail == "Cant share a blog more than once") {
							Swal.fire({
								title: 'Error!',
								text: 'Ya has compartido este blog y no puedes hacerlo nuevamente.',
								icon: 'error',
								confirmButtonText: 'Ok, entendido.'
							})
						}
					}
				});
			}

			function getDate(date) {
				let dateObject = new Date(date)
				let humanRedableDate = dateObject.getDate() +"-"+ (dateObject.getMonth()+1) +"-"+ dateObject.getFullYear()
				let timezoneInHours = dateObject.getTimezoneOffset() / 60
				let humanRedableHours = Math.abs(dateObject.getHours() - timezoneInHours) +":"+( dateObject.getMinutes() < 10 ? "0" : "" ) + dateObject.getMinutes()
				let fullDate = humanRedableDate + " " + humanRedableHours

				return fullDate
			}

			function addEventListeners() {
				const blogs = JSON.parse('{{data.blogs}}'.replaceAll("&#39;", '"'))
				blogs.forEach(blog => {
					const shareBlogButton = document.getElementById('shareBlogButton' + blog.id);
					shareBlogButton.addEventListener('click', function (event) {
						shareBlog(event)
					}, false)

					const dateLabel = document.getElementById('date' + blog.id);
					dateLabel.innerText = getDate(blog.updated_at)
				});
			}

			function nextPage() {
				start = '{{data.next.start|safe}}'
				limit = '{{data.next.limit|safe}}'
				const params = new Proxy(new URLSearchParams(window.location.search), {
					get: (searchParams, prop) => searchParams.get(prop),
				});

				window.location.href = `/blogs/search/?start=${start}&limit=${limit}&title=${params.title}&dstart=${params.startDateFormated || ""}&dend=${params.endDateFormated || ""}`
			}

			function previousPage() {
				start = '{{data.previous.start|safe}}'
				limit = '{{data.previous.limit|safe}}'
				const params = new Proxy(new URLSearchParams(window.location.search), {
					get: (searchParams, prop) => searchParams.get(prop),
				});

				window.location.href = `/blogs/search/?start=${start}&limit=${limit}&title=${params.title}&dstart=${params.startDateFormated || ""}&dend=${params.endDateFormated || ""}`
			}

			window.onload = function () {
				const btnLogout = document.getElementById("logoutbutton");
				btnLogout.addEventListener('click', function (event) {
					logout()
				}, false)

				const nextPageButton = document.getElementById("nextPageButton");
				if (nextPageButton) {
					nextPageButton.addEventListener('click', function (event) {
						nextPage()
					}, false)
				}
				
				const previousPageButton = document.getElementById("previousPageButton");
				if (previousPageButton) {
					previousPageButton.addEventListener('click', function (event) {
						previousPage()
					}, false)
				}
				

				addEventListeners()
			}
		</script>
	</body>
	
</html>